<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="suite">
	<listeners>
    <listener class-name="listeners.TestListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.SearchValidProductTest"/>
      <class name="tests.LoginTests"/>
      <class name="tests.SearchInvalidProductTest"/>
      <class name="tests.AddProductToCartTest"/>
      <class name="tests.AddProductToWishlistTest"/>
      <class name="tests.LoginTestsDD"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- suite -->
